@model List<Country>

<div>
    <h4>Manage Country</h4>
    <form method="post" action="country/create"  asp-antiforgery="true">
        <div class="input-group col-8" style="padding:0px;">
            <input autocomplete="off" name="countryName" type="text" class="form-control" placeholder="country name">
            <input autocomplete="off" name="countryCode" type="text" class="form-control" placeholder="country code">
            <span class="input-group-append">
                <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Country</button>
            </span>
        </div>
    </form>
    <br />
    <table class="table table-striped">
        <thead>
            <tr>

                <th>Country code</th>
                <th>Country name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Model)
            {
                <tr>
                    <td>@country.Code</td>
                    <td>@country.Name</td>
                    <td>
                        <a class="btn btn-xs btn-warning" asp-action="Edit" asp-route-id="@country.CountryId"><i class="fas fa-pen"></i> Edit</a> &nbsp;
                        <a class="btn btn-xs btn-danger" asp-action="Delete" asp-route-id="@country.CountryId"><i class="fas fa-trash"></i> Delete</a>
                        <input type="hidden" value="@country.CountryId" />
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>