@model List<ApplicationRole>

<div>
    <h4>Roles Manager</h4>
    <form method="post" action="roles/create"  asp-antiforgery="true">
        <div class="input-group col-4" style="padding:0px;">
            <input autocomplete="off" name="roleCode" type="text" class="form-control" placeholder="role code">
            <input autocomplete="off" name="roleName" type="text" class="form-control" placeholder="role name">
            <span class="input-group-append">
                <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Role</button>
            </span>
        </div>
    </form>
    <br />
    <table class="table table-striped">
        <thead>
            <tr>

                @*<th>Id</th>*@
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <a class="btn btn-xs btn-warning" asp-action="Edit" asp-route-id="@role.Id"><i class="fas fa-pen"></i> Edit</a> &nbsp;
                        <a class="btn btn-xs btn-danger" asp-action="Delete" asp-route-id="@role.Id"><i class="fas fa-trash"></i> Delete</a>
                        <a class="btn btn-xs btn-success" asp-controller="Permission" asp-action="Index" asp-route-id="@role.Id"><i class="fa-solid fa-house-lock"></i> Permissions</a>
                        <input type="hidden" value="@role.Id" />
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>