@model risk.control.system.Models.InvestigationServiceType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InvestigationServiceType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineOfBusiness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineOfBusiness.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-window-close"></i> Cancel</a> &nbsp;
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.InvestigationServiceTypeId"><i class="fas fa-pen"></i> Edit</a>
</div>
