@using risk.control.system.Models.ViewModel;
@model List<UsersViewModel>

<div id="checkboxes">
    <h4>User</h4>
    <form method="post" action="roles/create" enctype="multipart/form-data">
        <div class="input-group col-5" style="padding:0px;">
            <a class="btn btn-success" asp-action="Create"><i class="fas fa-plus"></i> Create user</a>
            <input autocomplete="off" name="roleName" type="text" class="form-control">
            <span class="input-group-append">
                <button type="submit" class="btn btn-info"> <i class="fa fa-search"></i> Search...</button>
            </span>
        </div>
    </form>
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Email</th>
                <th>Name</th>
                <th>Pincode</th>
                <th>State</th>
                <th>Country</th>
                <th>Roles</th>
                <th>Code</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        <img src="@user.ProfileImage" height="30" alt="No image" />
                    </td>
                    <td style="width: 10%;">@user.Email</td>
                    <td>@user.FirstName @user.LastName</td>
                    <td>@user.PinCode</td>
                    <td>@user.State</td>
                    <td>@user.Country</td>
                    <td style="width:20%">
                        @foreach (var role in user.Roles)

                        {
                            <span class="badge badge-light">@role</span>
                        }
                    </td>
                    <td>
                        @{
                            if (user.Roles.Contains(AppRoles.PortalAdmin.ToString()))

                            {
                                <span class="badge badge-danger">PA</span>
                            }

                            else if (user.Roles.Contains(AppRoles.ClientAdmin.ToString()))

                            {
                                <span class="badge badge-danger">CA</span>
                            }

                            else if (user.Roles.Contains(AppRoles.VendorAdmin.ToString()))

                            {
                                <span class="badge badge-warning">VA</span>
                            }

                            else

                            {
                                <span class="badge badge-success">ST</span>
                            }

                        }
                    </td>
                    <td>
                        <a class="btn btn-xs btn-warning" asp-action="Edit" asp-route-userId="@user.UserId"> <i
                                class="fas fa-pen"></i> User </a>&nbsp;
                        <a class="btn btn-xs btn-danger" asp-controller="UserRoles" asp-action="Index"
                        asp-route-userId="@user.UserId"><i class="fas fa-pen"></i> Role</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
