@using risk.control.system.Models.ViewModel;
@model UserRolesViewModel
<section class="content pt-2">
    <div class="container-fluid ">
        <form method="post">
            <div class="row mb-2">
                <div class="card card-primary">
                    <div class="card-header">
                        <h4>Manage User Roles for : @Model.UserName</h4>
                    </div>
                    <div class="card-body">
                        <input hidden asp-for="@Model.UserId" />
                        @for (int i = 0; i < Model.UserRoleViewModel.Count; i++)

                        {
                            <div class="form-check m-1">
                                <input type="hidden" asp-for="@Model.UserRoleViewModel[i].RoleId" />
                                <input type="hidden" asp-for="@Model.UserRoleViewModel[i].RoleName" />
                                <input asp-for="@Model.UserRoleViewModel[i].Selected" class="form-check-input" />
                                <label class="form-check-label" asp-for="@Model.UserRoleViewModel[i].Selected">
                                    @Model.UserRoleViewModel[i].RoleName
                                </label>
                            </div>
                        }
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                    <div class="card-footer text-right">
                        <a asp-controller="Roles" asp-action="Index" class="btn btn-secondary"> <i
                                class="fa fa-window-close"></i>
                            Cancel</a>
                        <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Edit
                        </button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</section>